<% provide(:title, t("contact.title", locale: :en)) %>
<h1><%= t "contact.title" %></h1>
<p>
  <%= t "contact.content_1" %>
  <%= link_to t("contact.content_1"), "https://www.railstutorial.org/contact" %>
</p>
