<% provide(:title, t("help.title", locale: :en)) %>
<p>
  <%= t "help.content_1" %>
  <%= link_to t("help.content_2"), "http://www.railstutorial.org/help" %>
  <%= link_to t("help.book"), "http://www.railstutorial.org/book" %>
</p>
